*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html,body{

	height: 100%;
}

.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.clear{
	clear: both;
}

.hide{
    display: none;
}

header{
    background-color: rgb(70, 36, 20);
    color:white;
    width: 100%;
    padding: 20px 2%;
}

header .logo{
    float: left;
    width: 140px;
    height: 70px;
    background-color: black;

}

header nav{
    float: right;
}

header nav ul li{
    margin-left: 40px;
    float: left;
    margin-top: 25px;
    list-style-type: none;
    cursor: pointer;
}

/*SECTION-BG*/

.bg{
    background-image: url("../images/bg.jpeg");

    height: 520px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg .container{
    text-align: center;
    padding: 0 2%;
    
}

.bg .text{
    color: white;
    position: relative;
    top: 120px;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    height: 200px;
    background-color: rgba(110, 110, 110, 0.05);
}

.bg .text h2{
    font-size: 70px;
    font-weight: 700;
}

.bg .text p{
    margin-top:40px;
    font-size: 30px;
    font-weight: 300;
}

.section-01{
    width: 100%;
    min-height: 120px;
    height: auto;
    background-color: rgb(133, 104, 11);
    
}

.section-01 .container{
    max-width: 1100px;
    color: white;
    padding: 0 2%;
    
}

.section-01 p{
    font-size: 18px;
    padding-top: 46px;
    float: left;
    text-align: center;
    margin-right: 30px;
}

.section-01 input[type="submit"]{
    float: right;
    color: white;
    margin-top: 36px;
    width: 150px;
    height: 50px;
    float: right;
    background-color:rgb(133, 104, 11);
    outline: 0;
    border: 4px solid rgb(70, 36, 20);
    font-size: 20px;
    border-radius: 80px;
}

.section-01 input[type="submit"]:hover{
    background-color:rgb(70, 36, 20);
    outline: 0;
    border: 4px solid rgb(133, 104, 11);
}

.section-02{
    width: 100%;
    padding: 0 2%;
}

.wraper-mosaico{
    display: flex;
}

.section-02 .wraper-mosaico .img{
    width: 60%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-02 .wraper-mosaico .text{
    
    width: 40%;
    text-align: justify;
    padding: 50px;
}

.section-02 .img1{

    background-image: url('../images/mosaico-01.png');

}

.section-02 .img2{
    float: left;
    background-image: url('../images/mosaico-02.png');
}

.section-02 .text{
    float: right;
}
.section-02 .img3{

    background-image: url('../images/mosaico-03.png');
}

.section-02 .img4{
    float: left;
    background-image: url('../images/mosaico-04.png');
}

.section-02.text{
    float: right;
}

/*Section-03*/

.section-03{
    width: 100%;
    padding: 20px 2%; 

}

.section-03 .container{
    text-align: center; /*Centralizando as colunas */
    max-width: 1250px;
}

.section-03 .wraper-columns {
    width: 33.3%;
    max-width: 350px;
    height: auto;
    min-height: 300px;
    padding: 40px;
    margin: 0 auto;
    float: left;
    border: 2px solid blue;

}

.section-03 .wraper-columns .img{
    margin: 40px auto 10px auto; /*centralizando as imagens*/
    width: 120px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.section-03 .wraper-columns .img1{
    background-image: url('../images/wood01.png');

}
.section-03 .wraper-columns .img2{
    background-image: url('../images/wood02.png');

}

.section-03 .wraper-columns .img3{
    background-image: url('../images/wood03.png');
}

.section-03 .wraper-columns h2{
    margin: 20px 0;
}

.section-03 .wraper-columns p{
    text-align: justify;
    font-weight: 300;
}



@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){
    .section-03 .wraper-columns {
        width: 50%;
        float: left;
        text-align: center;
    
    }

    .section-03 .wraper-columns:nth-of-type(3) {
        width: 100%;
        float: none;
    
    }

    
}

@media screen and (max-width: 580px){

}

@media screen and (max-width: 480px){

}