*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


html,body{

	height: 100%;
}

.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.clear{
	clear: both;
}

.hide{
    display: none;
}

header{
    /* background-color: rgb(133, 104, 11); */
    font-weight: 700;
    color:black;
    width: 100%;
   
    padding: 20px 2%;
}

header .logo{
    float: left;
    width: 140px;
    height: 70px;
    background-color: black;

}

/*Menu-desktop*/
header .menu-desktop{
    float: right;
    
}

header .menu-desktop ul li{
    margin-left: 40px;
    float: left;
    margin-top: 25px;
    list-style-type: none;
    cursor: pointer;
}

header .menu-desktop ul li:hover{
    text-decoration: underline;
}

/*Menu-mobile*/

.menu-mobile{
    display: none;

}

/*SECTION-BG*/

.bg{
    background-image: url("../images/bg.jpeg");

    min-height: 520px;
    height: auto;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.bg .container{
    text-align: center;
    padding: 0 2%;
    
}

.bg .text{
    color: white;
    position: relative;
    top: 120px;
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    height: 200px;
    background-color: rgba(110, 110, 110, 0.05);
}

.bg .text h2{
    font-size: 70px;
    font-weight: 700;
}

.bg .text p{
    margin-top:40px;
    font-size: 30px;
    font-weight: 300;
}

.section-01{
    width: 100%;
    min-height: 120px;
    height: auto;
    background-color: rgb(133, 104, 11);
    
}

.section-01 .container{
    max-width: 1100px;
    color: white;
    padding: 0 1%;
    
}

.section-01 p{
    font-size: 18px;
    padding-top: 46px;
    float: left;
    text-align: center;
    margin-right: 5px;
    font-weight: 700;
    width: 80%;
}

.section-01 input[type="submit"]{
    float: right;
    color: white;
    margin-top: 36px;
    width: 20;
    max-width: 150px;
    height: 50px;
    float: right;
    background-color:rgb(133, 104, 11);
    outline: 0;
    border: 4px solid rgb(70, 36, 20);
    font-size: 18px;
    padding:10px;
    border-radius: 80px;
    cursor: pointer;
    
}

.section-01 input[type="submit"]:hover{
    background-color:rgb(70, 36, 20);
    border: 4px solid rgb(133, 104, 11);
    
}


.section-02{
   display: none;
    width: 100%;
    background-color: rgb(133, 104, 11);
    color: white;
}

.section-02 .container{
    padding: 30px 2%;
    max-width: 1000px;
    
    
}

.section-02 h2{
    text-align: center;
    padding-bottom: 30px;
}

.section-02 p{
    text-align: justify;
}

.section-03{
    width: 100%;
    padding: 0 2%;
}

.wraper-mosaico{
    display: flex;
}

.section-03 .wraper-mosaico .img{
    width: 60%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-03 .wraper-mosaico .text{
    
    width: 40%;
    text-align: justify;
    padding: 50px;
}

.section-03 .img1{

    background-image: url('../images/mosaico-01.png');

}

.section-03 .img2{
    float: left;
    background-image: url('../images/mosaico-02.png');
}

.section-03 .text{
    float: right;
}
.section-03 .img3{

    background-image: url('../images/mosaico-03.png');
}

.section-03 .img4{
    float: left;
    background-image: url('../images/mosaico-04.png');
}

.section-03.text{
    float: right;
}

/*Sessão */
.section-columns{
	width: 100%; 
	height: auto;
	padding-bottom: 50px;
    color: rgb(133, 104, 11);
    background-color: rgba(255, 255, 255, 0.411);
}

/*Alterar o container para ficar maior */
.section-columns .container{

/*O SEGREDO É ESSE */
    text-align: center;  /*Colocar no pai para alinhar TODOS*/
	max-width: 1250px;

}

/*ARRUMA O TÍTULO */
.section-columns .title{
    color: rgb(133, 104, 11);
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
}

.section-columns p{
    font-weight: 400;

}

/*Coluna*/
.wraper{
	width: 33.333%; /*Cada coluna */
	max-width: 350px; /*Cada um se limita a */
	height: 200px; /*Altura fixa */
	margin:  30px; /*Margin entre eles */
	display: inline-block; /*Alinha os display EM LINHA */
}

/*Arruma o icone*/
.wraper .icon{
	margin: 0 auto;
	width: 80px;
	height: 80px;
	background-size: 100%;
	background-repeat: no-repeat;   
	background-position:center;
}

/*Adicionar o icones*/

.wraper .icon1{
    background-image: url('../images/wood01.png');
}

.wraper .icon2{
    background-image: url('../images/wood02.png');
}

.wraper .icon3{
    background-image: url('../images/wood03.png');
}

/*Título */

.wraper h2{
	padding: 20px 0;

}

/*Parágrafo */

.wraper p{
	text-align: justify;
	padding-bottom: 90px;
}

footer{
    width: 100%;
    padding:10px 0 20px 0;
}

footer .container{
    text-align: center;
}

footer p{
    text-align: center;
    font-size: 10px;
    color: black;
}



@media screen and (max-width: 650px){

    header .logo{
        text-align: center;
    }

    header .logo{
        float: none;
        margin: 0 auto;
    }

    .menu-desktop{
        display: none;
        margin: 0 auto;

    }

    .menu-mobile{
        display: block; /*Centralizar */
        text-align: center;
        padding-top: 30px;
    }

    .menu-mobile ul li{
        padding: 10px;
        border: 2px solid blue;
    }

    .section-01{
        width: 100%;
        display: block;
        
    }
    
    .section-01 .container{
        max-width: 1100px;
        color: white;
        padding: 0 2%;
        text-align: center;
        
    }
    
    .section-01 p{
        float: none;
        text-align: center;
        margin: 0 auto;
    }
    
    .section-01 input[type="submit"]{
        float: none;
        color: white;
        margin: 20px auto;
        text-align: center;
        width: 20;
        max-width: 150px;
        height: 50px;
    }
    
    .wraper{
        width: 100%;

    }

    .wraper-mosaico{
        display: block;
    }

    .section-03 .wraper-mosaico .img{
        max-width: none;
        width: 100%;
        height: 300px;
        float: none;
    }
    
    .section-03 .wraper-mosaico .text{
        max-width: none;
        width: 100%;
        padding:70px;
        float: none;
    
    }
    
}


@media screen and (max-width: 420px){
    .bg{
        
        min-height: 620px;
        height: auto;
        width: 100%;
        
    }
}