*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

html,body{

    height: 100%;
}

.clear{

    clear: both;
}

.hide{

    display: none;
}

.container{

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}

header{
    background-color: #B4B4B4;
    padding: 10px 2%; /*Espaçamento substituindo o height para melhorar o
    responsivo*/
}

.logo-01{
    float: left; /*Zerar no float*/
    width: 130px;
    height: 100px;
    /* background-color: purple; */
    background-image: url('../imagens/logo1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.logo-02{
    float: right; /*Zerar no float*/
    width: 130px;
    height: 100px;
    /* background-color: green; */
    background-image: url('../imagens/logo2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner{
    background-image: url('../imagens/bg-form.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;
    max-width: 1200px;   
    margin: 0 auto;
    padding: 0 2%;
}

/*Formulário*/

.section-01 form{

    width: 370px;
    height: 550px;
    background-color: #FFFFFF;
    float: right;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

form h2{
    font-weight: normal;
    padding: 30px 15px;
    color: black;
    font-size: 22px;
    background-color: #D2D2D2;
    text-align: center;
}

.form-wraper{
    padding: 0 5%;
    margin-top: 30px;
}

form .form-wraper p{
    font-size: 16px;
    color: #525252;

}

.form-wraper input[type = "text"]{

    width: 100%;
    border: 1px solid #ccc;
    height: 50px;
    outline: 0;
    padding-left: 10px;
}

input[type = "submit"]{

    width: 100%;
    background-color:#033C50;
    border: 0;
    cursor: pointer;
    font-size: 25px;
    color:white;
    margin-bottom: 20px;
    height: 50px;
    outline: 0;
}

/*----------------------*/

.section-02 .container{

    background-color: #29526D;
    width: 100%;
    height: 180px;
    text-align: center;
}


.section-02 .container .text{
    color: white;
    margin:0 auto;
    max-width: 700px;
    font-weight: normal;
    padding: 40px 2% 0 2%;
}

.section-02 .container .text p{
    font-size: 18px;
    margin-top: 20px;
    
}

/*Mosaico */

/*PARA GIRAR, VEJA NO HTML - FLEX MOSAICO ou Colocar dentro dos filhos
(item-1 e item-2) ordem:2 e ordem:1*/
.flex-mosaico{
    display: flex; /*Altera a propriedade display */
    background-color:#D2D2D2;
    font-weight: 400;
}

.item-1{
    width: 60%; /* Limite e porcentagem */
    background-position: center;  /*Coloca para alinhar ao centro */
    background-size: cover; /*Para cobrir todo o espaço disponivel */
    background-repeat: no-repeat;  
} 

.item-2{
    width: 40%; /* Limite e porcentagem */
    padding: 60px; /* Padding para criar as bordas bonitas */
    text-align: justify;/* Alinhar o texto */
}

/*footer*/

footer{
    text-align: center;
    padding: 20px 0;
}

/*Responsivo*/

@media screen and (max-width:670px ){

    .section-01 form{

        float: none;
    }
    .flex-mosaico{
        display: block;
        
    }
    
    .item-1{
        padding-top: 40%;
        width: 100%;
    } 
    
    .item-2{
        width: 100%;
    }
}
