*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
	font-weight: normal;

}

html,body{
	height: 100%
}

@font-face{
	src:url('../fonts/OpenSans-Light.ttf');
	font-family: "Open Sans";
}

.clear{
	clear: both;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}

header{
	
	background-color:#212343;
	width: 100%;
	height: 60px;
	padding-top: 6px;
	padding-left: 40px;
}

header .logo{

	background-image: url('../images/logo.png');
	width: 130px;
	height: 44px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%
}

.section-01{

	width: 100%;
	height: 550px;
	background-image: url('../images/header_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0 2%;

} 



.list{
	background-color: rgba(33, 30, 62,0.8);
	max-width: 450px;
	width: 50%; /*Diminuir para não quebrar horizontalmente */
	height: 300px;
	float: left;
	position: relative;
	top: 120px;

	
} 

.list ul{
	list-style-position: inside;
	color: white;
	padding:10px 10px 10px 20px; 

}

.list li{
	padding-top: 21px;


}

.form{
	position: relative;
	top: -25px;
	width: 50%;
	max-width: 400px;
	height: 600px;
	float: right;
	background-color: white;
	border: 10px solid rgba(120,120,120,0.5);
	margin: 0 auto;
	background-clip: padding-box; /*Box fantasma*/
}


.form h2{
	font-family: 'Open Sans', sans-serif;
	margin: 20px;
	color:rgb(153, 153, 179);
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	padding-top: 
}


.form p{
	color:rgb(153, 153, 179);
	padding: 10px 10px;

}

.form input[type=text]{
	border:0;
	margin: 0 11px;
	width: 355px;
	height: 50px;
	border-left-style: none;
	border: 1px solid rgb(153, 153, 179);
	border-radius: 30px;
	outline: none;
	text-align: center;
	margin-top: 10px;

}

.form-wraper-submit p{
	padding-top: 15px;
}
.form-wraper-submit input{
	border:0;
	border-radius: 30px;
	color:white;
	font-size: 20px;
	margin-top: 20px;
	width: 200px;
	height: 60px;
	background-color: rgb(54, 58, 109);
	outline: none;
	margin-left: 90px;

	}

	.form-wraper-submit input:hover{
		background-color: rgb(74, 78, 129);

	}

.section-02{
		background-color: rgb(221, 221, 221);
		width: 100%;
		height: auto;
		padding: 50px 7% 20px 7%;
		
	}

.section-02 .container{
		max-width: 800px;

	}

.section-02 h2{
	text-align: center;
	padding-bottom: 40px;
}

.section-02 p{
	text-align: justify;
	padding-bottom: 40px;
}


.section-03{

	width: 100%;
	height: auto;
	padding-bottom: 50px;
	color: rgb(71, 38, 99);
}

.section-03 .container{
	text-align: center; /*Colocar no pai para alinhar*/
	max-width: 1250px;

}

.section-03 .title{

	padding: 100px 0 60px 0;
	font-weight: normal;
	color:rgb(71, 38, 99);

}

.wraper{
	width: 33.333%;
	max-width: 350px;
	height: 200px;
	margin: 30px;
	display: inline-block; /*Alinha os display */
}

.wraper .icon{
	margin: 0 auto;
	width: 80px;
	height: 80px;
	background-image: url('../images/icon.png');
	background-size: 100%;
	background-repeat: no-repeat
	background-position:center;
}

.wraper h2{
	padding: 30px 0;

}

.wraper p{
	text-align: justify;
	padding-bottom: 90px;
}

.arrow{
	background-image: url('../images/arrow.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
	position: relative;
	top: 40px;
	left:50%;
}


.section-04{
	width: 100%;
	height: 100px;
	border-top: 2px solid rgb(136, 136, 136);7
}

.section-04 p{
	padding-top: 20px;
	text-align: center;
	color: rgb(136, 136, 136);
}


@media screen and (max-width: 830px){

	header{
	width: 100%;
	padding-top: 6px;
	padding-left: 0;
}

	header .logo{
	margin: 0 auto;
	padding: 0;
}

	.section-01{
	width: 100%;
	position: static;
	height: auto;
	display: inline-block;
	} 

	.list{

		margin:40px 0;
		position: static;
		width: 100%;
		float: none;
		margin: 40px auto 20px auto;
	}

	.form{
		
		margin: 20px auto 40px auto;
		position: static;
		width: 100%;
		float: none;
		
	}

}

@media screen and (max-width: 650px){

	.wraper{
	width: 100%;
}

}