*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif;
}

html,body{

	height: 100%;
}
.container{
    padding: 0 2%;
	margin: 0 auto;
	width: 100%;
	max-width: 1100px;
}

.clear{
	clear: both;
}

 header{
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color:white;
}

header .logo{
    width: 200px;
    height:80px;
    background-color: black;
    float: left;

}

header nav{
    float: right;
    margin-top: 34px;
}

header nav ul li{

    display: inline;
    margin-left: 50px;
}

header nav ul li a{
    cursor: pointer;
}

.section-01{
    background-image: url('../images/bg-main.jpg');

    width: 100%;
	height: calc(500px - 10px);
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center center ;
}

.section-01 form{
    border-radius: 50px;
    padding:  1% 2%;
    width: 350px;
    height:500px;
    background-color:rgb(28, 131, 145);
    float: right;
    position: relative;
    top: -10px;
}

.section-01 form h2{
    font-size: 25px;
    color: white;
    text-align: center;
    font-weight: 900;
}

.section-01 form p{
    color: white;
    font-weight: 400;
}

.section-01 form :nth-child(1){
    margin-top: 16px;
}

.section-01 form input[type ="text"]{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    outline: 0;
    border-radius: 50px;
    overflow: hidden;
    border:1px solid rgb(200, 200, 200);
    padding-left: 10px;

}

.section-01 form input[type = "submit"]{
    width: 100px;
    height: 35px;
    margin-right: 20px;
    position: relative;
    left: 100px;
    cursor: pointer;
    border-radius: 30px;
    border: 0;
    background-color: white;

}

.section-01 form input[type = "submit"]:hover{
    background-color: rgb(230, 230, 230);
}

.section-02{
    width: 100%;
    height: auto;
    padding: 30px 0 50px 0;
    background-color: rgb(230, 230, 230);
}

.section-02 .container{
    max-width: 1000px;
    padding: 0 5%;
}

.section-02 h1{
    text-align: center;
    font-size: 35px; 
    padding:  30px 0;  
}

.section-02 p{
    text-align: justify;
}

.section-03{
    background-color:  rgb(230, 230, 230);
    width: 100%;
    height: auto;
    
    margin: 0 auto;
}

.section-03 .container{
    text-align: center; /*Alinha os 3 no centro, inclusive as imagens */
}

.info-wraper{
    float: left;
    width: 33.3%;
    margin: 0 auto;
    border: 10px solid rgba(255, 255, 255, 0.0);
    padding: 2%; 
}


.section-03 img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.section-03 h3{
    text-align: center;
    padding: 10px 0;
    font-size: 25px;
}

.section-03 .info-wraper p{
    text-align: justify;
}

.section-04{
    padding-top: 10px;
	width: 100%;
	height: 100px;
	border-top: 2px solid rgb(136, 136, 136);7
}

.section-04 p{
	padding-top: 10px;
	text-align: center;
	color: rgb(136, 136, 136);
}


@media screen and (max-width: 768px){
    
    header{
        width: 100%;
        height: auto;
        padding: 20px 0;
        background-color:white;
    }

    header .logo{
        float: none;
        margin: 0 auto;
    
    }
    
    header nav{
        float: none;
        margin: 30px 0 20px 0;
        text-align: center;
    }

    .section-01 form{
        margin: 0 auto;
        float: none;
        position: relative;
        top: -10px;
    }

    .section-03 .info-wraper{
        width: 50%;
        float: left;
    }

    .section-03 .info-wraper:nth-child(3){
        float: none;
       
    }

}

@media screen and (max-width: 568px){
    .section-03 .info-wraper{
        width: 100%;
        float: none;
    }

    
}